<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>5-Day Weather Forecast</title>
    <link
      rel="icon"
      href="https://cdn-icons-png.flaticon.com/512/9176/9176568.png"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/9176/9176568.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="header">
      <h1>
        ☀️ ☁️ 🌧️ 🌩️ ☀️ ☁️ 🌧️ 🌩️ 5-Day Weather Forecast ☁️ 🌧️ 🌩️ ☀️ ☁️ 🌧️ 🌩️ ☀️
      </h1>
    </div>
    <div class="container" id="app">
      <div class="side-bar">
        <!-- Search Bar -->
        <div class="search-bar">
          <input
            type="text"
            v-model="city"
            @keyup.enter="searchWeather"
            placeholder="Enter a city name"
          />
          <button @click="searchWeather">Search</button>
        </div>
        <!-- <div v-if="loaded" class="weather-summary"></div> -->
        <div v-if="loaded" class="weather-tips">
          <h2>Five Day Average:</h2>
          <h3>Temp: {{weatherData.avgTemp}} °C</h3>
          <h3>Wind: {{weatherData.avgWind}} m/s</h3>
          <h3>Rain: {{weatherData.avgRain}} mm</h3>
          <h3>PM 2.5: {{weatherData.avgPM2_5}}</h3>
          <h2>Packing Tips!</h2>
          <p>{{ weatherData.wearMask }}</p>
          <p>{{ weatherData.willRain }}</p>
          <p>{{weatherData.packTip}}</p>
        </div>
      </div>

      <div v-if="loading" class="content">
        <div class="spinner"></div>
      </div>
      <div v-else class="content">
        <div
          v-for="(day, index) in weatherData.forecast"
          :key="index"
          class="weather-card"
        >
          <h2>{{ day.date }}</h2>
          <div class="info">
            <p class="summary">
              <i class="info-icon">ⓘ</i>
              <span class="tooltip">{{ day.summary }}</span>
            </p>
            <img :src="day.icon" height="100" width="100" class="icon" />
            <p>
              <b>Temperature:</b> {{ day.temp.day }}°C (Min: {{ day.temp.min
              }}°C, Max:{{ day.temp.max }}°C)
            </p>
            <p><b>Rain Fall:</b> {{ day.rain }} mm</p>
            <p><b>Wind Speed:</b> {{ day.wind }} m/s</p>
            <p><b>Precipitation Chance:</b> {{ day.pop}}%</p>
          </div>
        </div>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
